<div class="about d-flex flex-column justify-content-center align-items-center ">
  <div class="row">
  <h2 class="pt-5 fs-1 fw-bold text-white text-center">START FRAMEWORK</h2>
  <div class="d-flex align-items-center justify-content-center">
    <div class="line m-2 "></div>
    <i class="fa-solid fa-star text-white"></i>
    <div class="line m-2"></div>
  </div>
  <div class="container">
    <div class="prgraf ">
      <p class="m-1 text-white ">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      <p class="m-1 text-white ">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
  </div>
</div>

</div>

