<div class="profile text-center">
  <h2 class="pt-5 fs-1 fw-bold ">PORTFOLIO COMPONENT
  </h2>
  <div class="d-flex body-contanet align-items-center justify-content-center">
    <div class="line m-2 "></div>
    <i class="fa-solid fa-star"></i>
    <div class="line m-2"></div>
  </div>

<div class=" omar">
  <div class="input-group">
    <input type="text" required class="border-0 border-bottom">
    <label for="">Username</label>
  </div>
  <div class="input-group">
    <input type="number" required class="border-0 border-bottom">
    <label for="">age</label>
  </div>
  <div class="input-group">
    <input type="email" required class="border-0 border-bottom">
    <label for="">Email</label>
  </div>
  <div class="input-group">
    <input type="password" required class="border-0 border-bottom">
    <label for="">Password</label>

  </div>
  <button > Send massage</button>


</div>

