<section>
  <div class="profile d-flex justify-content-center align-items-center flex-column">
    <h2 class="pt-5 fs-1 fw-bold ">PORTFOLIO COMPONENT
    </h2>
    <div class="d-flex body-contanet">
      <div class="line m-2 "></div>
      <i class="fa-solid fa-star "></i>
      <div class="line m-2"></div>
    </div>

    <div class="container felx2 py-3 ">
      <div class="felx2 g-4 " >
        @for (item of items; track $index) {
          <div class="card border-0  rounded-2  " role="button">
            <div (click)="isHide=false; modelImg=item "  class="card-body ">
              <img [src]="item" class="card-img-top " alt="">
              <div class="ccolor">
                <div class="ham-menu">
                <i class="fa-solid fa-plus text-white"></i>
              </div>
              </div>
              <div class="card-layer"></div>
            </div>
          </div>
        }</div>
    </div>
  </div>

<div

(click)="hideModle($event.target , img)"
[class.d-none]="isHide"

class="model d-felx position-fixed start-0 top-0 w-100 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center"


>
  <img #img [src]="modelImg" class="w-50" alt="">
</div>
</section>


