<div class="content d-flex align-items-center justify-content-center p-5 flex-column">
  <img src="../../assets/avataaars (1).png "alt="" class="">
  <h2 class="m-3 fs-1 fw-bold text-white">START FRAMEWORK</h2>
  <div class="d-flex">
    <div class="line m-2 "></div>
    <i class="fa-solid fa-star text-white"></i>
    <div class="line m-2"></div>
  </div>
  <ul class="d-flex">
    <li class="text-white"> Graphic Artist -</li>
    <li class="text-white"> Web Designer -</li>
    <li class="text-white"> Illustrator</li>
  </ul>
</div>

